article {
  margin-left: 100px;
  margin-top: 100px;
  height: 400px;
  width: 400px;
  position: relative;
}

section {
  position: absolute;
  height: 200px;
  width: 100%; 
  overflow: hidden;
  transition: all 1s ease;
}

.bigCard-section2 {
  top: 0;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0px 0px;
}

.light-part-section2 {
  bottom: 0;
  border-radius: 0px 0px 8px 8px;
}

.bigCard-section2 h1 {
  position: absolute;
  left: 85px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
}

.light-part-section2 p {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 150px;
  font-size: 80px;
  line-height: 40px;
}

.light-part-section2:hover {
  height: 350px;
}

.bigCard-section2:hover {
  height: 350px;
  z-index: 1;
}